body {
  background-color: #1f1f1f;
  color: white;
  font-family: "Lexend", Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 50px;
}

.description {
  font-size: 20px;
}

.level {
  display: flex;
  align-items: center;
  border: 2px solid #363636;
  border-radius: 10px;
  margin: 50px 800px;
}

.info * {
  text-align: left;
  padding: 0px;
  line-height: 14px;
}

.name {
  font-size: 30px;
}

.details {
  font-size: 20px;
}

.rewards {
  font-size: 15px;
}

.level img {
  float: left;
  width: 320px;
  height: 180px;
  padding: 20px;
}
