body {
  background-color: #1f1f1f;
  color: white;
  font-family: "Lexend", Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 50px;
}

.description {
  font-size: 20px;
}

.level {
  border: 2px solid #363636;
  border-radius: 10px;
  margin: 50px 800px;
}

.name {
  font-size: 40px;
}

.details {
  font-size: 30px;
}

.rewards {
  font-size: 20px;
}

.level img {
  float: left;
}
