body {
  background-color: #1f1f1f;
  color: white;
  font-family: "Lexend", Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 50px;
}

.description {
  font-size: 20px;
}

.space {
  margin-top: 40px;
}

#main {
  display: flex;
  justify-content: center;
}

#list {
  overflow: auto;
}

.level {
  display: flex;
  align-items: center;
  border: 2px solid #363636;
  border-radius: 10px;
  margin: 20px auto;
  width: 960px;
  transition: transform 0.2s;
  cursor: pointer;
}

.level:hover {
  transform: scale(1.02);
}

.placement {
  font-size: 30px;
  padding-left: 20px;
}

.info * {
  text-align: left;
  padding: 0px;
  line-height: 14px;
}

.name {
  font-size: 30px;
}

.details {
  font-size: 17px;
}

.user {
  font-size: 17px;
  color: limegreen;
}

.rewards {
  font-size: 13px;
}

.level img {
  float: left;
  width: 320px;
  height: 180px;
  object-fit: cover;
  padding: 20px;
}
